<template>
    <q-page class="flex flex-center">
        <q-card style="max-width:100vw;margin:5px">
            <q-tabs
                    v-model="tab"
                    inline-label
                    outside-arrows
                    mobile-arrows
                    class="bg-primary text-white shadow-2"
                    >
                    <q-tab v-for="(day,index) in days" :name="index" :key="index" :label="day+getDate(index)" />
            </q-tabs>
            <q-card-section>

                <q-list bordered separator v-if="data.kw">
                    <q-item clickable v-ripple v-for="(es, index) in today.es.split('\r').map(es=>{
                         let ess = es.split('<sup>')
                         let badges = ess[1] == undefined ? [] : ess[1].replace('</sup>','').split(',')
                        return {text:ess[0], badges }})">
                        <q-item-section>{{es.text}}
                            <div>
                                <q-badge style="margin-right:2px" v-for="badge in es.badges" color="blue"> {{badge}} </q-badge>
                            </div>
                        </q-item-section>
                    </q-item>
                </q-list>

                <q-skeleton v-else></q-skeleton>

            </q-card-section>
        </q-card>
    </q-page>
</template>

<script>
import { defineComponent } from 'vue';
const axios = require('axios');

export default defineComponent({
    data: ()=>{
        return {
            days: {mo: 'Montag',di: "Dienstag", mi: "Mittwoch", do: "Donnerstag", fr: "Freitag"},
            tab: 'mo',
            data: {}
        }
    },
    computed: {
        today: function() {
            let today = this.data[this.tab]
            return (today == undefined) ? {da:'', es:''} : today
        }
    },
    methods: {
        getDate: function(day_of_week = 'mo') {
            let date = this.data[day_of_week]
            return (date == undefined) ? '' : ', '+date.da
        },
        refreshData: function() {
            axios.get('https://api.covomedia.com/cors-proxy.php?url=http://sp.schulfamilie-am-hegel.de/plan').then((d)=>{
                console.log(d.data)
                this.data = d.data
            })
        }
    },
    mounted: function () {
        this.refreshData()
    },
    name: 'PageIndex'
})
</script>
<style>
.q-page-container main.flex-center { align-items: initial; }
@media(max-width:992px){
    .q-page-container main.flex-center {margin:1em auto}
}
.q-card {border-radius:0}
</style>

